[Unit]
Description=Demo Resume Script
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/home/username/demo/run.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
