[Unit]
Description=Run scripts after reboot
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/master.sh
User=root
group=root
Type=oneshot

[Install]
WantedBy=multi-user.target
